
[data-type="loos/dl"] {

	[data-type="loos/dt"] {
		margin: 0;
	}

	[data-type="loos/dd"] {
		margin-top: 0;
		margin-bottom: 0;
	}

	[data-type="loos/dd"] + [data-type="loos/dt"] {
		margin-top: 1em;
	}

	// 横並び
	&.is-style-float {

		[data-type="loos/dt"].is-highlighted::after {
			top: 1px;
			right: 1px;
			bottom: 1px;
			left: 1px;
			width: unset;
			height: unset;
			background: none;
		}

		> .block-list-appender {
			width: 100%;
			margin-top: 1em;
		}
	}

}

