// アコーディオン
[data-type="loos/accordion"] {

	.swell-block-accordion__title {
		cursor: auto;
	}

	.swell-block-accordion__item {
		margin: 0;

		+ .swell-block-accordion__item {
			margin-top: .5em;
		}
	}

	.swell-block-accordion__body {
		overflow: visible;
	}

	&.is-style-simple .swl-parentSelector + .swell-block-accordion__item {
		border-top: 1px solid var(--color_border);
	}
}
